<% @login_param = Merb::Authentication::Strategies::Basic::Base.login_param %>
<% @password_param = Merb::Authentication::Strategies::Basic::Base.password_param %>

<h1>Welcome to Rubytime, please sign in:</h1>

<%= error_messages_for session.authentication %>

<form action="<%= slice_url(:merb_auth_slice_password, :perform_login) %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="_method" value="PUT" />
  <fieldset>
    <p>
      <label for="login">Login</label>
      <%= tag :input, :name => @login_param, :id => @login_param, :value => params[@login_param] %>
    </p>
    <p>  
      <label for="password">Password</label>
      <%= tag :input, :name => @password_param, :id => @password_param, :type => 'password' %>
    </p>
    <p class="remember">
      <%= check_box :name => "remember_me", :id => 'remember_me', :value => "1", :label => "Remember me" %>
    </p>
    <p class="buttons">
      <input type="submit" value="Login" class="button" />
    </p>
  </fieldset>
</form>

<p class="forgot">
  Forgot your password? Click <%= link_to 'here', resource(:users, :request_password) %>
</p>