<h1>Estimates for <%= @project.name %></h1>

<% if @project.activity_types.empty? %>
  No activity types found.
<% else %>
  <%= form_for @project, :action => resource(@project, :estimates, :update_all), :id => "project_estimates_form", :method => "put" do %>
    <fieldset>
      <table id="estimates" class="list wide">
      <tr>
        <th>Activity type</th>
        <th>Minutes</th>
        <th>Minutes to go</th>
      </tr>
      <% @project.estimates_grouped_by_parent_activity_type_id[nil].each do |estimate| %>
        <%= partial('estimate', :estimate => estimate) %>
        <% (@project.estimates_grouped_by_parent_activity_type_id[estimate.activity_type_id] || []).each do |sub_estimate| %>
          <%= partial('estimate', :estimate => sub_estimate) %>
        <% end %>
      <% end %>
      </table>
      <p class="buttons">
        <%= submit 'Update', :class => "button" %>
        or
        <%= link_to 'Cancel', resource(:estimates) %>
      </p>
    </fieldset>
  <% end =%>
<% end %>
