<h1>Create new invoice</h1>
<%= form_for @invoice, :action => resource(:invoices), :id => "invoice_form" do %>
  <fieldset>
    <p>
      <%= select :client_id, :label => "Client", :collection => @clients.map { |c| [c.id, c.name] }, :prompt => "Select a client..." %>
    </p>
    <p>
      <%= text_field :name, :label => "Name" %>
    </p>
    <p>
      <%= text_area :notes, :label => "Notes", :class => "text", :cols => "21", :rows => "5" %>
    </p>
    <p class="buttons">
      <%= submit 'Create', :class => "button" %>
    </p>
  </fieldset>
<% end =%>
