<%= error_messages_for(@currency) %>
<%= form_for @currency, :html => {:id => "currency_form"} do |f| %>
  <fieldset>
    <p>
      <%= f.label :singular_name, "Singular name" %>
      <%= f.text_field :singular_name, :class => "text" %>
    </p>
    <p>
      <%= f.label :plural_name, "Plural name" %>
      <%= f.text_field :plural_name, :class => "text" %>
    </p>
    <p>
      <%= f.label :prefix, "Prefix" %>
      <%= f.text_field :prefix, :class => "text" %>
    </p>
    <p>
      <%= f.label :suffix, "Suffix" %>
      <%= f.text_field :suffix, :class => "text" %>
    </p>
    <p class="buttons">
      <%= f.submit(submit_name, :class => "button") %>
    </p>
  </fieldset>
<% end =%>
