<h1>List of <%= type %></h1>

<table class="list">
  <tr>
    <th>Name</th>
    <th><%= type == 'employees' ? 'Role' : 'Client' %></th>
    <th>Active</th>
    <th></th>
  </tr>
  <% users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= type == 'employees' ? user.role.name : user.client.name %></td>
      <td><%= user.active? ? 'Yes' : 'No' %></td>
      <td>
        <%= link_to 'Show', url(:user, user) %> |
        <%= link_to 'Edit', url(:edit_user,  user) %> |
        <%= link_to image_tag("icons/cross.png", :title => "Remove"), url(:user, user), :class => "delete_row" %> |
        <%= link_to_calendar user %></td>
      </td>
    </tr>
  <% end %>
</table>
