<h1><%= @user.new? ? "Add new user" : "User editing" %></h1>
<%= error_messages_for @user %>
<%= form_for(@user, :as => :user, :html => {:id => "user_form"}) do |f| %>
  <fieldset>
    <p>
      <%= f.label :name, "Type" %>
      <%= f.select :class_name, options_from_collection_for_select([["Employee", "Employee"], ["ClientUser", "Client's user"]], :first, :last, @user.class_name) %>
    </p>
    <p style="display: <%= @user.class_name == 'Employee' ? 'block' : 'none' %>">
      <%= f.label :name, "Role" %>
      <%= f.select :role_id, select_options(@roles, :id, :name, @user.role_id), :include_blank => "Select role..." %>
    </p>
    <p style="display: <%= @user.class_name == 'ClientUser' ? 'block' : 'none' %>">
      <%= f.label :name, "Client" %>
      <%= f.select :client_id, select_options(@clients.map, :id, :name, @user.client_id), :include_blank => "Select a client..." %>
    </p>
    <p>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :class => :text %>
    </p>
    <p>
      <%= f.label :name, "Login" %>
      <%= f.text_field :login, :class => :text %>
    </p>
    <p>
      <%= f.label :name, "LDAP Login" %>
      <%= f.text_field :ldap_login, :autocomplete => "off", :class => :text %>
    </p>
    <p>
      <%= f.label :name, "Email" %>
      <%= f.text_field :email, :autocomplete => "off", :class => :text %>
    </p>
    <% if !@user.new? && @user != current_user%>
      <p>
        <%= f.label :name, "Admin?" %>
        <%= f.check_box :admin %>
      </p>
      <p>
        <%= f.label :name, "Active?" %>
        <%= f.check_box :active %>
      </p>
    <% end %>
    <p>
      <%= f.label :name, "Password" %>
      <%= f.password_field :password, :autocomplete => "off", :class => :text %>
    </p>
    <p>
      <%= f.label :name, "Password confirmation" %>
      <%= f.password_field :password_confirmation, :autocomplete => "off", :class => :text %>
    </p>
    <p class="buttons">
      <%= submit @user.new? ? "Create" : "Update", :class => "button" %>
    </p>
  </fieldset>
<% end =%>
