<h1>List of <%= type %></h1>

<table class="list wide">
  <tr>
    <th>Name</th>
    <th><%= type == 'employees' ? 'Role' : 'Client' %></th>
    <th>Active</th>
    <th class="icons"></th>
  </tr>
  <% users.each do |user| %>
    <tr>
      <td><%= link_to(user.name, url(:user, user)) %></td>
      <td><%= type == 'employees' ? user.role.name : user.client.name %></td>
      <td><%= user.active? ? 'Yes' : 'No' %></td>
      <td class="icons">
        <%= link_to_calendar user %>
        <%= link_to image_tag("icons/pencil.png", :title => "Edit", :alt => "E"), url(:edit_user,  user) %>
        <%= link_to image_tag("icons/cross.png", :title => "Remove", :alt => "R"), url(:user, user), :class => "delete_row" %>
        </td>
    </tr>
  <% end %>
</table>
