<h1>List of <%= type %></h1>

<table class="list wide">
  <tr>
    <th>Name</th>
    <th><%= type == 'employees' ? 'Role' : 'Client' %></th>
    <th>Active</th>
    <th class="icons"></th>
  </tr>
  <% users.each do |user| %>
    <tr>
      <td><%= link_to(user.name, user_path(user)) %></td>
      <td><%= type == 'employees' ? link_to(user.role.name, role_path(user.role)) : link_to(user.client.name, client_path(user.client)) %></td>
      <td><%= yes_no(user.active?) %></td>
      <td class="icons">
        <%= link_to_calendar user %>
        <%= link_to image_tag("icons/pencil.png", :title => "Edit", :alt => "E"), edit_user_path(user) %>
        <%= link_to image_tag("icons/cross.png", :title => "Remove", :alt => "R"), user_path(user), :class => "delete_row" unless user == current_user %>
        </td>
    </tr>
  <% end %>
</table>
