<h1><%= @user.new? ? "Add new user" : "User editing" %></h1>
<%= error_messages_for @user %>
<%= form_for(@user, :action => @user.new? ? url(:users) : url(:user, @user), :id => "user_form") do %>
  <fieldset>
    <%= fields_for :user do %>
      <p>
        <%= select :class_name, :label => "Type", :collection => [["Employee", "Employee"], ["ClientUser", "Client's user"]] %>
      </p>
      <p style="display: <%= @user.class_name == 'Employee' ? 'block' : 'none' %>">
        <%= select :role_id, :label => "Role", :collection => @roles.map { |r| [r.id, r.name] }, :prompt => "Select role..." %>
      </p>
      <p style="display: <%= @user.class_name == 'ClientUser' ? 'block' : 'none' %>">
        <%= select :client_id, :label => "Client", :collection => @clients.map { |c| [c.id, c.name] }, :prompt => "Select a client..." %>
      </p>
      <p>
        <%= text_field :name, :label => "Name" %>
      </p>
      <p>
        <%= text_field :login, :label => "Login" %>
      </p>
      <p>
        <%= text_field :email, :label => "Email" %>
      </p>
      <% if !@user.new? && @user != current_user%>
        <p>
          <label for="user_active">Active?</label>
          <%= check_box :active %>
        </p>
      <% end %>
      <p>
        <%= password_field :password, :label => "Password" %>
      </p>
      <p>
        <%= password_field :password_confirmation, :label => "Password confirmation" %>
      </p>
      <p class="buttons">
        <%= submit @user.new? ? "Create" : "Update", :class => "button" %>
      </p>
    <% end =%>
  </fieldset>
<% end =%>
