<h1>Users controller, edit action</h1>

<%= error_messages_for @user %>
<%= form_for(@user, :action => url(:user, @user) ) do %>
  <fieldset>
    <% fields_for :user do #TODO: hack for proper input names based on base class name - get rid ot it %>
      <p>
        <%= text_field :name, :label => "Name" %>
      </p>
      <p>
        <%= text_field :login, :label => "Login" %>
      </p>
      <p>
        <%= text_field :email, :label => "Email" %>
      </p>
      <p>
        <%= password_field :password, :label => "Password" %>
      </p>
      <p>
        <%= password_field :password_confirmation, :label => "Password confirmation" %>
      </p>
      <p>
        <label>&nbsp;</label>
        <%= submit "Save", :class => "button" %>
      </p>
    <% end %>
  </fieldset>
<% end =%>

<%= link_to 'Show', url(:user, @user) %> |
<%= link_to 'Back', url(:users) %>
