<h1>Users controller, new action</h1>
<%= error_messages_for @user %>
<%= form_for(@user, :action => url(:users) ) do %>
  <p>
    <%= text_field :name, :label => "Name" %>
  </p>
  <p>
    <%= text_field :login, :label => "Login" %>
  </p>
  <p>
    <%= text_field :email, :label => "Email" %>
  </p>
  <p>
    <%= password_field :password, :label => "Password" %>
  </p>
  <p>
    <%= password_field :password_confirmation, :label => "Password confirmation" %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<%= link_to 'Back', url(:users) %>
