<h1>Account settings</h1>

<%= error_messages_for @user %>
<%= form_for(@user, :action => url(:user, @user), :id => "user_form") do %>
  <fieldset>
    <%= fields_for :user do %>
      <p>
        <label>Login</label><span class="static_text"><%= @user.login %></span>
      </p>
      <p>
        <%= text_field :name, :label => "Name" %>
      </p>
      <p>
        <%= text_field :email, :label => "Email" %>
      </p>
      <p>
        <%= password_field :password, :label => "Password" %>
      </p>
      <p>
        <%= password_field :password_confirmation, :label => "Password confirmation" %>
      </p>
      <table class="middleTable">
        <tr>
          <td>
            <span class="radiobuttons">
              <p>By default show activities for last:&nbsp;</p>
            </span>
          </td>
          <td>
            <span class="recent_days">
              <p><%= radio_group :recent_days_on_list, Rubytime::RECENT_DAYS_ON_LIST.map { |d| { :value => d, :label => "#{d} days" } } %></p>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <p>Date format:</p>
          </td>
          <td>
            <span class="date_formats">
              <p>
                <%= radio_group :date_format, Rubytime::DATE_FORMAT_NAMES.map { |df| { :value => df, :label => "#{df.to_s.capitalize} (#{Rubytime::DATE_FORMATS[df][:description]})" } } %>
              </p>
            </span>
          </td>
        </tr>
      </table>
      <p class="buttons">
        <%= submit "Update", :class => "button" %> or <%= link_to 'Cancel', url(:activities) %>
      </p>
    <% end =%>
  </fieldset>
<% end =%>
