<h1>Account settings</h1>

<%= error_messages_for @user %>

<%= form_for(@user, :action => url(:user, @user), :id => "user_form") do %>
  <fieldset id="account-settings">
    <%= fields_for :user do %>
      <p>
        <label>Login</label><span class="static_text"><%= @user.login %></span>
      </p>
      <p>
        <%= text_field :name, :label => "Name" %>
      </p>
      <p>
        <%= text_field :email, :label => "Email" %>
      </p>
      <p>
        <%= password_field :password, :label => "Password" %>
      </p>
      <p>
        <%= password_field :password_confirmation, :label => "Password confirmation" %>
      </p>
      <p class="options">
        <span>Show activities for last</span>
        <%= radio_options(@user, :recent_days_on_list, Rubytime::RECENT_DAYS_ON_LIST) { |v| recent_days_on_list_desc(v) }%>
      </p>
      <p class="options">
        <span>Date format</span>
        <%= radio_options(@user, :date_format, Rubytime::DATE_FORMAT_NAMES) { |v| date_format_desc(v) } %>
      </p>
      <p class="options">
        <span>Email reminder</span>
        <%= check_box :id => "user_remind_by_email", :name => "user[remind_by_email]", :boolean => true, :checked => @user.remind_by_email %>
      </p>
      <p class="buttons">
        <%= submit "Update", :class => "button" %> or <%= link_to 'Cancel', url(:activities) %>
      </p>
    <% end =%>
  </fieldset>
<% end =%>
