<h1>Users details</h1>
<p>
  Name: <%= @user.name %>
</p>
<p>
  Login: <%= @user.login %>
</p>
<p>
  Email: <%= @user.email %>
</p>
<p>
  Active: <%= @user.active ? "Yes" : "No" %>
</p>
<p>
  Admin: <%= @user.admin ? "Yes" : "No" %>
</p>
<p>
  Created at: <%= format_time @user.created_at %>
</p>
<p>
  <%= link_to "Show calendar", url(:user_calendar, @user) %>
</p>

</p><%= link_to 'Edit',  url(:edit_user,  @user) %> |
<%= link_to 'Back', url(:users) %>
