<h1>Users details</h1>
<p>
  Name: <%= @user.name %>
</p>
<p>
  Login: <%= @user.login %>
</p>
<p>
  Email: <%= @user.email %>
</p>
<p>
  Active: <%= @user.active ? "Yes" : "No" %>
</p>
<p>
  Admin: <%= @user.admin ? "Yes" : "No" %>
</p>
<p>
  Created at: <%= @user.created_at.to_date.formatted(current_user.date_format) %>
</p>
<% if @user.is_employee? %>
  <p>
    <%= link_to "Show calendar", url(:user_calendar, @user) %>
  </p>
<% end %>
<p>
  <%= link_to 'Edit',  url(:edit_user,  @user) %> |
  <%= link_to 'Back', url(:users) %>
</p>