<%= error_messages_for @client %>
<%= error_messages_for @client_user %>
<%= form_for @client, :html => {:id => "client_form"} do |f| %>
  <fieldset>
    <legend>Add new client</legend>
    <p>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :class => "text" %>
    </p>
    <p>
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, :class => "text", :rows => 5, :cols => 20 %>
    </p>
    <p>
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, :class => "text" %>
    </p>
    <p>
      Default user for client:
    </p>
    <%= fields_for @client_user do |user_form| %>
      <p>
        <%= user_form.label :name, "Name" %>
        <%= user_form.text_field :name, :class => "text" %>
      </p>
      <p>
        <%= user_form.label :login, "Login" %>
        <%= user_form.text_field :login, :class => "text" %>
      </p>
      <p>
        <%= user_form.label :email, "Email" %>
        <%= user_form.text_field :email, :class => "text" %>
      </p>
      <p>
        <%= user_form.label :password, "Password" %>
        <%= user_form.password_field :password, :class => "text" %>
        <span id="generated_password">
          Generated password: <%= @client_user.password %>
        </span>
      </p>
      <p>
        <%= user_form.label :password_confirmation, "Confirm password" %>
        <%= user_form.password_field :password_confirmation, :class => "text" %>
      </p>
    <% end =%>
    <p class="buttons">
      <%= submit "Create", :class => "button" %>
    </p>
  </fieldset>
<% end =%>
