<%= error_messages_for @client %>
<%= error_messages_for @client_user %>
<%= form_for @client, :id => "client_form" do |f| %>
  <fieldset>
    <legend>Client editing</legend>
    <p>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :class => "text" %>
    </p>
    <p>
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, :rows => 5, :cols => 20, :class => "text" %>
    </p>
    <p>
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, :class => "text" %>
    </p>
    <p>
      <%= f.label :active, "Active?" %>
      <%= f.check_box :active, :class => "text" %>
    </p>
    <p class="buttons">
      <%= submit "Save", :class => "button" %>
    </p>
  </fieldset>
<% end =%>
