<%= error_messages_for @client %>
<%= error_messages_for @client_user %>
<%= form_for @client, :action => resource(@client), :id => "client_form" do %>
  <fieldset>
    <legend>Client editing</legend>
    <p>
      <%= text_field :name, :label => "Name" %>
    </p>
    <p>
      <%= text_area :description, :label => "Description" %>
    </p>
    <p>
      <%= text_field :email, :label => "Email" %>
    </p>
    <p>
      <label for="client_active">Active?</label>
      <%= check_box :active %>
    </p>
    <p class="buttons">
      <%= submit "Save", :class => "button" %>
    </p>
  </fieldset>
<% end =%>
