<h1>Client</h1>
<p>
  Name: <%= @client.name %>
</p>
<p>
  Description: <%= @client.description %>
</p>     
<p>
  Email: <%= @client.email %>
</p>
<p>
  Active: <%= yes_no(@client.active) %>
</p>
<p>
  <%= link_to "Edit", edit_client_path(@client) %>
</p>

<br/><br/>
<h2>Client's projects:</h2>
<table class="padding5">
  <% @client.projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= link_to "Show", project_path(project) %></td>
      <td><%= link_to "Edit", edit_project_path(project) %></td>
    </tr>
  <% end %>
</table>

<% if current_user.is_admin? %>
  <p><%= link_to 'Create new project', projects_path(:client_id => @client.id) %></p>
<% end %>

<br/><br/>
<h2>Client's users:</h2>
<table class="padding5">
  <% @client.client_users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.login %></td>
      <td><%= link_to "Show", user_path(user) %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
    </tr>
  <% end %>
</table>

<% if current_user.is_admin? %>
  <p><%= link_to 'Create new user', users_path(:client_id => @client.id) %></p>
<% end %>
