<%= error_messages_for(activity_custom_property) %>
<%= form_for activity_custom_property, :html => {:id => "activity_custom_property_form"} do |f| %>
<fieldset>
  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, :class => "text" %>
  </p>
  <p>
    <%= f.label :unit, "Unit" %>
    <%= f.text_field :unit, :class => "text" %>
  </p>
  <p>
    <%= f.label :required, "Required" %>
    <%= f.check_box :required %>
  </p>
  <p>
    <%= f.label :show_as_column_in_tables, "Show as column in tables" %>
    <%= f.check_box :show_as_column_in_tables %>
  </p> 
  <p class="buttons">
    <%= f.submit activity_custom_property.new? ? 'Create' : 'Update', :class => "button" %>
  </p>
</fieldset>
<% end =%>
