<h1>Settings</h1>  
  
<%= error_messages_for @setting %>
<%= form_for(@setting, :url => settings_path, :html => {:id => "settings_form"}) do |f| %>
  <fieldset>
    <p>
      <%= f.label :enable_notifications, "Notifications" %>
      <%= f.select :enable_notifications, select_options([[true, "enabled"], [false, "disabled"]], :first, :last, @setting.enable_notifications) %>
    </p>
    <p class="buttons">
      <%= submit "Update", :class => "button" %>
    </p>
  </fieldset>
<% end =%>

<h1>Security</h1>  
  
<h3>Free days iCal feed:</h3>
<p><%= site_url + free_days_path(:access_key => @setting.free_days_access_key, :format => :ics) %></p>

<%= form_for(@setting, :url => settings_path, :html => {:id => "settings_form"}) do |f| %>
  <fieldset>
    <p>
      <%= f.hidden_field :free_days_access_key, :value => '' %>
    </p>
    <p class="buttons">
      <%= submit "Re-generate", :class => "button" %>
    </p>
  </fieldset>
<% end =%>
