<h1>Create new <%= activity_type.parent ? 'sub-activity' : 'activity' %> type</h1>

<%= error_messages_for(activity_type) %>
<%= form_for activity_type, :html => {:id => "activity_type_form"} do |f| %>
  <fieldset>
    <%= f.hidden_field :parent_id %>
    <p>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :class => "text" %>
    </p>
    <p class="buttons">
      <%= submit 'Create', :class => "button" %>
    </p>
  </fieldset>
<% end =%>
