<% if @activity_type.parent %>
  <h1>Edit <%= @activity_type.parent.name %> -> <%= @old_name || @activity_type.name %> sub-activity type</h1>
<% else %>
  <h1>Edit <%= @old_name || @activity_type.name %> activity type</h1>
<% end %>

<%= error_messages_for(@activity_type) %>
<%= form_for @activity_type, :html => {:id => "activity_type_form"} do |f| %>
  <fieldset>
    <p>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :class => "text" %>
    </p>
    <p class="buttons">
      <%= submit 'Update', :class => "button" %>
    </p>
  </fieldset>
<% end =%>
