        <h4 class="hidden">Navigation</h4>
        <dl id="menu" class="clearfix">
          <% main_menu_items_for(current_user, params[:controller]).each do |item| %>
            <dt class="<%= 'selected' if item[:selected] %>">
              <a href="<%= item[:path] %>"><%= item[:title] %></a> 
            </dt>
          <% end %>
          <dd>
            <ul class="floor-2">
              <% sub_menu_items_for(params[:controller]).each do |item| %>
                <li class="<%= 'selected' if item[:selected] %>"><a href="<%= item[:path] %>"><%= item[:title] %></a></li>
              <% end %>
            </ul>
          </dd>
          <% unless current_user.instance_of?(ClientUser) %>
            <dt class="add-activity">
              <a href="#add_activity">
                Add new activity
              </a>
            </dt>
          <% end %>
        </dl>
<!--        
          <dt class="selected">
            <a href="#">Dashboard</a> 
          </dt>
          <dd>
            <ul class="floor-2">
              <li><a href="#">Lorem</a></li>
              <li class="selected"><a href="#">Ipsum</a></li>
              <li><a href="#">Dolor</a></li>
              <li><a href="#">Sit</a></li>
            </ul>
          </dd>
          <dt>
            <a href="#">Activities</a> 
          </dt>
          <dd>
            <ul class="floor-2 hidden">
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Ipsum</a></li>
              <li><a href="#">Dolor</a></li>
              <li><a href="#">Sit</a></li>
            </ul>
          </dd>
          <dt>
            <a href="#">Manage</a> 
          </dt>
          <dd>
            <ul class="floor-2 hidden">
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Ipsum</a></li>
              <li><a href="#">Dolor</a></li>
              <li><a href="#">Sit</a></li>
            </ul>
          </dd>
          <dt>
            <a href="#">Profile</a> 
          </dt>
          <dd>
            <ul class="floor-2 hidden">
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Ipsum</a></li>
              <li><a href="#">Dolor</a></li>
              <li><a href="#">Sit</a></li>
            </ul>
          </dd>
--> 