<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Rubytime</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= css_include_tag Merb.env?('production') ? 'master.min' : 'master' %>
    <%= js_include_tag 'lib/jquery.min.js', 'lib/jquery-ui-1.6.custom.min.js', 'lib/jquery.validate.min.js', 'lib/jquery-extensions.js', 'lib/jquery-scrollto.js', 'lib/ui.datepicker.js', 'application.js', 'lib/rubytime/input-filler.js', 'lib/thickbox', :bundle => :base %>
    <%= auto_link %>
    <% if session.user %>
    <script type="text/javascript">
      rubytime_date_format = '<%= Rubytime::DATE_FORMATS[session.user.date_format][:format].downcase.delete("%").gsub(/[dmy]/) { |match| match * 2 } %> ';
    </script>
    <% end %>
  </head>
  <body id="<%= params[:controller] %>_<%= params[:action] %>">
    <div class="header header-expanded">
      <div class="wrapper">
        <h1 class="logo">
          <a href="/">
            <img src="/images/logo.png" alt="Rubytime" title="Rubytime, a simple time tracking application"/>
          </a>
        </h1>
        <% if session.user && params[:controller] != 'exceptions' -%>
        <dl id="userinfo">
          <%= partial 'layout/session_info' %>
        </dl>
        <%= partial 'layout/navigation' %>
        <% end -%>
      </div>
    </div>
    <div id="content" class="wrapper clearfix">
      <div id="add_activity" style="display: none">
      </div>
      <div id="flash" class="<%= message.keys.first %>" style="<%= 'display: block' unless message.keys.empty? %>">
        <%= h message[message.keys.first] %>
      </div>
      <div id="primary">
        <%= catch_content :for_layout %>
      </div>
      <% if number_of_columns == 2 %>
        <div id="secondary">
          <div class="box"><%= catch_content :secondary %></div>
        </div>
      <% end %>
    </div>
    <div id="footer">
      <a class="logo" href="http://lunarlogicpolska.com" title="Lunar Logic Polska -- Agile web experts">Lunar Logic Polska</a>
      <a class="merb" href="http://merbivore.com" title="Merb -- agile web framework">Powered by Merb</a>
    </div>
    <div class="revision_info"></div>
  </body>
</html>
