<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Rubytime</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= css_include_tag 'master' %>
    <%= css_include_tag 'tmp' %>
    <%= css_include_tag 'datepicker/ui.datepicker' %>
    <%= js_include_tag 'lib/jquery-1.2.6' %>
    <%= js_include_tag 'lib/ui.datepicker' %>
    <%= js_include_tag 'application' %>
  </head>
  <body>
    <div id="header">
      <div id="userinfo">
        <% if current_user %>
        Welcome, <%= current_user.name %> &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Preferences', '' %> | <%= link_to 'Logout', url(:logout) %>
        <% end %>
      </div>
    </div>
    <div id="menubar"></div>
    <div id="content">
      <div id="left_column">
        <div id="flash">
          <div class="notice">
            <%= flash[:notice] %>
          </div>
          <div class="error">
            <%= flash[:error] %>
          </div>
        </div>
        <%= catch_content :for_layout %>
      </div>
      <div id="right_column">
        <h2>Filter:</h2>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>