<h1>Project editing</h1>

<%= error_messages_for(@project) %>
<%= form_for @project, :html => {:id => "project_form"} do |f| %>
  <fieldset>
    <p>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, :rows => 5, :cols => 20 %>
    </p>
    <p>
      <%= f.label :client_id, "Client" %>
      <%= f.select :client_id, select_options(@clients, :id, :name, @project.client_id), :include_blank => "Select a client..." %>
    </p>
    <p>
      <%= f.label :active, "Active?" %>
      <%= f.check_box :active %>
    </p>
    
    <div class="activity_types">
      <a href="#" class="toggler">Assigned activity types</a>
      <%= tag :input, :type => :hidden, :name => 'project[activity_type_ids][]' %>
      
      <ul style="display: none">
        <% ActivityType.roots.each do |activity_type| %>
        <li>
          <%= activity_type_check_box(activity_type, @project.activity_types.include?(activity_type), @project.used_activity_types.include?(activity_type)) %>
          <% unless activity_type.children.empty? %>
            <ul<%= @project.activity_types.include?(activity_type) ? '' : ' style="display: none"' %>>
              <% activity_type.children.each do |sub_activity_type| %>
              <li>
                <%= activity_type_check_box(sub_activity_type, @project.activity_types.include?(sub_activity_type), @project.used_activity_types.include?(sub_activity_type)) %>
              </li>
              <% end %>
            </ul>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    
    <p class="buttons">
      <%= f.submit 'Save', :class => "button" %> or <%= link_to 'Cancel', projects_path %>
    </p>
  </fieldset>
<% end =%>
