<h1>Project editing</h1>

<%= error_messages_for(@project) %>
<%= form_for @project, :action => resource(@project), :id => "project_form" do %>
  <fieldset>
    <p>
      <%= text_field :name, :label => "Name" %>
    </p>
    <p>
      <%= text_area :description, :label => "Description" %>
    </p>
    <p>
      <%= select :client_id, :label => "Client", :collection => @clients.map { |c| [c.id, c.name] }, :prompt => "Select a client..." %>
    </p>
    <p>
      <label for="project_active">Active?</label>
      <%= check_box :active %>
    </p>
    
    <div class="activity_types">
      <p><a href="#" class="toggler">Assigned activity types</a></p>
      <%= tag :input, :type => :hidden, :name => 'project[activity_type_ids][]' %>

      <ul style="display: none">
        <li class="filter">
          Filter: <%= link_to "Active", '#active' %> | <%= link_to "All", '#all' %>
        </li>

        <% ActivityType.roots.each do |activity_type| %>
        <li class="<%= 'inactive_record' if !activity_type.active %>">
          <%= activity_type_check_box(activity_type, @project.activity_types.include?(activity_type), @project.used_activity_types.include?(activity_type)) %>
          <% unless activity_type.children.empty? %>
            <ul<%= @project.activity_types.include?(activity_type) ? '' : ' style="display: none"' %>>
              <% activity_type.children.each do |sub_activity_type| %>
              <li class="<%= 'inactive_record' if !sub_activity_type.active %>">
                <%= activity_type_check_box(sub_activity_type, @project.activity_types.include?(sub_activity_type), @project.used_activity_types.include?(sub_activity_type)) %>
              </li>
              <% end %>
            </ul>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    
    <p class="buttons">
      <%= submit 'Save', :class => "button" %> or <%= link_to 'Cancel', resource(:projects) %>
    </p>
  </fieldset>
<% end =%>
