<h1>Editing project: <%= @project.name %></h1>

<%= error_messages_for(@project) %>
<%= form_for @project, :action => resource(@project), :id => "project_form" do %>
  <fieldset>
    <p>
      <%= text_field :name, :label => "Name" %>
    </p>
    <p>
      <%= text_area :description, :label => "Description" %>
    </p>
    <p>
      <%= select :client_id, :label => "Client", :collection => @clients.map { |c| [c.id, c.name] }, :prompt => "Select a client..." %>
    </p>
    <p>
      <label for="project_active">Active?</label>
      <%= check_box :active %>
    </p>
    <p class="buttons">
      <%= submit 'Save', :class => "button" %> or <%= link_to 'Cancel', resource(:projects) %>
    </p>
  </fieldset>
<% end =%>
