<% throw_content :secondary, partial(:new_project) if current_user.is_admin? %>
<h1>List of projects</h1>

<% if @projects.empty? %>
  No projects found.
<% else %>
  <table id="projects" class="list wide">
  <tr>
    <th>Name</th>
    <% if current_user.is_admin? %>
      <th>Client</th>
    <% end %>
    <th class="icons"></th>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <td><%= current_user.is_admin? ? link_to(project.name, resource(project)) : project.name %></td>
      <% if current_user.is_admin? %>
        <td><%= project.client.name %></td>
      <% end %>
      <td class="icons">
        <%= link_to image_tag("icons/calendar.png", :title => "Show calendar for this project"), resource(project, :calendar) %>
        <% if current_user.is_admin? %>
          <%= link_to image_tag("icons/pencil.png", :title => "Edit"), resource(project, :edit) %>
          <%= link_to image_tag("icons/cross.png", :title => "Remove"), resource(project), :class => "delete_row" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
