<% content_for :secondary, partial(:new_project) if current_user.is_admin? %>
<h1>List of projects</h1>

<% if @projects.empty? %>
  No projects found.
<% else %>
  <table id="projects" class="list wide">
  <tr>
    <th>Name</th>
    <% if current_user.is_admin? %>
      <th>Client</th>
    <% end %>
    <th>Active</th>
    <th class="icons"></th>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <td><%= current_user.is_admin? ? link_to(project.name, project_path(project)) : project.name %></td>
      <% if current_user.is_admin? %>
        <td><%= link_to project.client.name, client_path(project.client) %></td>
      <% end %>
      <td><%= yes_no(project.active) %></td>
      <td class="icons">
        <%= link_to image_tag("icons/calendar.png", :title => "Show calendar for this project", :alt => "C"), project_calendar_path(project) %>
        <% if current_user.is_admin? %>
          <%= link_to image_tag("icons/pencil.png", :title => "Edit", :alt => "E"), edit_project_path(project) %>
          <%= link_to image_tag("icons/cross.png", :title => "Remove", :alt => "R"), project_path(project), :class => "delete_row" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
