<h1><%= @project.name %></h1>

<p>
  Description: <%= @project.description %>
</p>
<p>
  Active: <%= @project.active %>
</p>
<p>
  Client: <%= link_to @project.client.name, url(:client, @project.client) %>
</p>
<p>
  Created at: <%= @project.created_at.to_date.formatted(current_user.date_format) %>
</p>
<p>
  <%= link_to "Edit", url(:edit_project, @project) %>
</p>

<div class="sections">
  <a class="head" href="#">Hourly rates</a>
  <div id="project_hourly_rates">
    <%= partial 'projects/hourly_rates', :project => @project %>
  </div>
</div>

<script type="text/javascript">
  $(function() { new HourlyRates('#project_hourly_rates', '<%= url(:hourly_rates, :project_id => @project.id) %>') });
</script>
