<h1><%= @project.name %></h1>

<p>
  Description: <%= @project.description %>
</p>
<p>
  Active: <%= @project.active %>
</p>
<p>
  Client: <%= link_to @project.client.name, client_path(@project.client) %>
</p>
<p>
  Created at: <%= date_in_users_format(@project.created_at) %>
</p>
<p>
  <%= link_to "Edit", edit_project_path(@project) %>
</p>

<% unless @activities_without_types.blank? %>
  <div class="sections warning">
    <h4>Warning:</h4>

    <p>
      <% @one = (@activities_without_types.length == 1) %>
      <%= @one ? "There's one activity" : "There are #{@activities_without_types.length} activities" %>
      in this project that <%= @one ? "doesn't have a type" : "don't have any types" %> assigned, which
      <%= @one ? 'is' : 'are' %> currently invalid. You should assign a default activity type
      to <%= @one ? 'it' : 'them' %>.
    </p>

    <%= form_for @project, :url => set_default_activity_type_project_path(@project) do |f| %>
      <fieldset>
        <p>
          Default activity type:
          <%= activity_type_select(@project) %>
        </p>

        <p class="buttons">
          <%= submit 'Update activities', :class => "button" %>
        </p>
      </fieldset>
    <% end =%>
  </div>
<% end %>

<div class="sections">
  <a class="head" href="#">Hourly rates</a>
  <div id="project_hourly_rates"<%= @expand_hourly_rates ? ' class="expanded_by_default"' : '' %>>
    <%= render 'projects/hourly_rates', :locals => {:project => @project} %>
  </div>
</div>

<script type="text/javascript">
  $(function() { 
    new HourlyRates('#project_hourly_rates', '<%= hourly_rates_path(:project_id => @project.id) %>', <%= @expand_hourly_rates ? 'true' : 'false' %>) 
  });
</script>
