<h1>Create new role</h1>
<%= error_messages_for(@role) %>
<%= form_for @role, :html => {:id => "role_form"} do |f| %>
  <fieldset>
    <p>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :class => "text" %>
    </p>
    <p>
      <%= f.label :can_manage_financial_data, "Can manage financial data" %>
      <%= f.check_box :can_manage_financial_data %>
    </p>
    <p class="buttons">
      <%= f.submit 'Create', :class => "button" %>
    </p>
  </fieldset>
<% end =%>
