<h1>Edit role</h1>
<%= form_for @role, :id => "role_form" do |f| %>
  <fieldset>
    <p>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :disabled => true %>
    </p>
    <p>
      <%= f.label :can_manage_financial_data, "Can manage financial data" %>
      <%= f.check_box :can_manage_financial_data %>
    </p>
    <p class="buttons">
      <%= f.submit 'Update', :class => "button" %>
    </p>
  </fieldset>
<% end =%>
