<h1>List of employees' roles</h1>

<% if @roles.empty? %>
  No roles found.
<% else %>
  <table id="roles" class="list">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td><%= link_to 'Remove', resource(role), :class => "delete_row" %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<br/>
<br/>
<br/>

<%= form_for @role, :action => resource(@role.id ? @role : :roles), :id => "role_form" do %>
  <fieldset>
    <p>
      <%= text_field :name, :label => "Add new role" %>
      <%= submit 'Add', :class => "button" %>
    </p>
  </fieldset>
<% end =%>
