<div id="errors" style="display:none"></div>

<%= form_for @activity, :html => { :class => "activity_form #{@activity.new? ? 'dark': ''}" } do |f| %>
  <fieldset>
    <% if @activity.new? %><legend>New activity</legend><% end %>
    <% if current_user.is_admin? %>
      <p>
        <%= f.label :user_id, "User" %>
        <%= f.select :user_id, options_from_collection_for_select(@users, :id, :name, @activity.user_id) %>
      </p>
    <% end %>
    <p>
      <%= f.label :date, "Date" %>
      <%= f.text_field :date, :class => 'datepicker', :value => date_in_users_format(@activity.date) %>
    </p>
    <p>
      <%= f.label :project_id, "Project" %>
      <%= f.select :project_id, grouped_options_for_select({ "Recent projects" => @recent_projects.map { |p| [p.name, p.id] }, 
        "Other projects" => @other_projects.map { |p| [p.name, p.id] } }, @activity.project_id) %>
    </p>
    <%= f.hidden_field :main_activity_type_id, :value => nil %>
    <p style="<%= 'display: none' if @activity.available_main_activity_types.empty? %>">
      <%= f.label :main_activity_type_id, "Type" %>
      <%= f.select :main_activity_type_id,
            select_options(@activity.available_main_activity_types, :id, :name, @activity.main_activity_type_id),
            :disabled => @activity.available_main_activity_types.empty? %>
    </p>
    <p style="<%= 'display: none' if @activity.available_sub_activity_types.empty? %>">
      <%= f.label :sub_activity_type_id, "Sub-type" %>
      <%= f.select :sub_activity_type_id,
            select_options(@activity.available_sub_activity_types.map, :id, :name, @activity.sub_activity_type_id),
            :disabled => @activity.available_sub_activity_types.empty? %>
    </p>
    <p>
      <%= f.label :hours, "Time spent" %>
      <%= f.text_field :hours %>
      <span class="description">e.g. 7:30, 7.5, or 7.5h for seven hours and thirty minutes;
        0.5, .5h or 30m for half an hour</span>
    </p>
    <% @activity_custom_properties.each do |activity_custom_property| %>
      <p class="custom-property">
        <%= f.label "activity[custom_properties][#{activity_custom_property.id}]", activity_custom_property.name %>
        <%= text_field_tag "activity[custom_properties][#{activity_custom_property.id}]", @activity.custom_properties[activity_custom_property.id], :class => (activity_custom_property.required ? 'required' : nil) %>
        <span><%= activity_custom_property.unit %></span>
      </p>
    <% end %>
    <p>
      <%= label :comments, "Comments" %>
      <%= f.text_area :comments %>
    </p>
    <p class="buttons">
      <%= f.submit((@activity.new? ? "Add" : "Save"), :class => "button") %> or <%= link_to "Cancel", "#", :id => "close_activity_form" %>
    </p>
  </fieldset>
<% end =%> 
