<%= form_tag "/activities", :method => :get do %>
<fieldset>

  <% if current_user.can_see_clients? %>
    <%= partial(:criteria_group, :with => :client, :as => :group) %>
  <% end %>
  
  <%= partial(:criteria_group, :with => :project, :as => :group) %>
  
  <%= partial(:criteria_group, :with => :activity_type, :as => :group) %>
  
  <p<%= @search_criteria.found_projects_with_activities_without_types? ? '' : ' style="display: none"'%>>
    <%= label "Include activities without types", :for => :include_activities_without_types %>
    <%= check_box :search_criteria, :include_activities_without_types, :class => 'include_activities_without_types' %>
  </p>
  
  <% if current_user.can_see_users? %>
    <%= partial(:criteria_group, :with => :role, :as => :group) %>
    <%= partial(:criteria_group, :with => :user, :as => :group) %>
  <% end %>
  
  <p>
    <% date_from = date_in_users_format(@search_criteria.date_from) %>
    <%= label_tag "search_criteria[date_from]", "From" %>
    <%= text_field_tag 'search_criteria[date_from]', date_from, :class => 'datepicker', :size => 9 %>
  </p>
  
  <p>
    <% date_to = date_in_users_format(@search_criteria.date_to) %>
    <%= label_tag "search_criteria[date_to]", "To" %>
    <%= text_field_tag "search_criteria[date_to]", date_to, :class => 'datepicker', :size => 9  %>
  </p>
  
  <p>
    <label>Include</label>
    <span class="radiobuttons">
      <% ['all', 'invoiced', 'not_invoiced'].each do |invoice_state| %>
        <%= radio_button_tag "search_criteria[invoice]", invoice_state, invoice_state == 'all' %>
        <%= label_tag "search_criteria[invoice]_#{invoice_state}", invoice_state.humanize %>
      <% end %>
    </span>
  </p>
  
  <p class="buttons">
    <%= submit "Submit", :class => "button" %>
  </p>
  
</fieldset>
<% end =%>
