<%= form_for @search_criteria, :action => "/activities", :method => :get do %>
<fieldset>

  <% if current_user.can_see_clients? %>
    <%= partial(:criteria_group, :with => :client, :as => :group) %>
  <% end %>
  
  <%= partial(:criteria_group, :with => :project, :as => :group) %>
  
  <%= partial(:criteria_group, :with => :activity_type, :as => :group) %>
  
  <p<%= @search_criteria.found_projects_without_activity_types_assigned.any? ? '' : ' style="display: none"'%>>
    <%= label "Include activities without types", :for => :include_activities_without_types %>
    <%= check_box :include_activities_without_types, :class => 'include_activities_without_types' %>
  </p>
  
  <% if current_user.can_see_users? %>
    <%= partial(:criteria_group, :with => :role, :as => :group) %>
    <%= partial(:criteria_group, :with => :user, :as => :group) %>
  <% end %>
  
  <p>
    <% date_from = @search_criteria.date_from ? @search_criteria.date_from.formatted(current_user.date_format) : "" %>
    <%= text_field :date_from, :value => date_from, :label => "From", :class => 'datepicker', :size => 9 %>
  </p>
  
  <p>
    <% date_to = @search_criteria.date_to ? @search_criteria.date_to.formatted(current_user.date_format) : "" %>
    <%= text_field :date_to, :value => date_to, :label => "To", :class => 'datepicker', :size => 9  %>
  </p>
  
  <p>
    <label>Include</label>
    <span class="radiobuttons">
      <%= radio_group :invoiced, [{ :value => "all", :label => "All" }, 
                                  { :value => "invoiced", :label => "Invoiced" }, 
                                  { :value => "not_invoiced", :label => "Not invoiced" }] %>
    </span>
  </p>
  
  <p class="buttons">
    <%= submit "Submit", :class => "button" %>
  </p>
  
</fieldset>
<% end =%>
