<ul class="projects">
  <% projects.each do |project| %>
    <li class="project">
      <%= image_tag("icons/project.png") %>
      <strong>Project: <%= project.name %></strong>
      <% if current_user.is_employee? && !current_user.is_admin? %>
        <% activities = activities_from(@activities, client, project, current_user.role) %>
        <%= partial("activities/activities_table", :activities => activities) %>
        <strong>Total for project: <%= format_minutes(activities.inject(0) { |s,a| s += a.minutes; s }) %></strong>
      <% else %>
        <%= partial("activities/grouped_roles", :roles => unique_roles_from(@activities, client, project), :client => client, :project => project) %>        
        <strong>Total for project: <%= format_minutes(activities_from(@activities, client, project).inject(0) { |s,a| s += a.minutes; s }) %></strong>
      <% end %>
    </li>
  <% end %>
</ul>
