<% if @projects %>
  <p>
    Calendar for project <%= select_tag :project_id, select_options(@projects, :id, :name, @owner.id), :id => "project_id" %>
  </p>
  <div id="projects_<%= @owner.id %>_calendar">
    <%= activities_calendar :activities => @activities_by_date, :year => @year, :month => @month, :owner => @owner %>
  </div>
<% else %>
  <% if @users %>
    <p>
      Calendar for user <%= select_tag :user_id, select_options(@users, :id, :name, @owner.id), :id => "user_id" %>
    </p>
  <% end %>
  <div id="users_<%= @owner.id %>_calendar">
    <%= render :partial => "activities_calendar" %>
  </div>
<% end %>
<div id="activitites_for_day"></div>
