<% throw_content :secondary, partial(:filter) %>

<% include_clients = @search_criteria.selected_client_ids.size != 1 && current_user.can_see_clients? %>
<% include_projects = @search_criteria.selected_project_ids.size != 1 %>
<% include_roles = @search_criteria.selected_role_ids.size != 1 %>
<% include_users = @search_criteria.selected_user_ids.size != 1 && current_user.can_see_users? %>

<h1>Activities</h1>

<% if @activities.empty? %>
  No activities found for selected critieria. 
<% else %>
  <p>Found <%= @activities.size %> matching activities.</p>
  <br/>
  <br/>

  <% if !include_clients && current_user.can_see_clients? %>
    <p class="selection">Client: <%= @search_criteria.found_clients.first.name %></p>
  <% end %>
  
  <% unless include_projects %>
    <p class="selection">Project: <%= @search_criteria.found_projects.first.name %></p> 
  <% end %>

  <% unless include_roles %>
    <p class="selection">Role: <%= @search_criteria.found_roles.first.name %></p>
  <% end %>

  <% if !include_users && current_user.can_see_users? %>
    <p class="selection">User: <%= @search_criteria.found_users.first.name %></p>
  <% end %>
  
  <br/>
  
  <table class="activities list" cellspacing="0" cellpadding="0">
    <tr>
      <% unless @uninvoiced_activities.empty? %>
        <th class="checkbox"><%= check_box :name => "activity_select_all" %></th>
      <% end %>
      <% if include_clients %>
        <th>Client</th>
      <% end %>
      <% if include_projects %>
        <th>Project</th>
      <% end %>
      <% if include_users %>
        <th>User</th>
      <% end %>
      <th>Date</th>
      <th class="right">Hours</th>
    </tr>
    <% @activities.each_with_index do |activity,i| %>
      <tr>
        <% unless @uninvoiced_activities.empty? %>
          <td class="checkbox"><%= check_box(:name => "activity_id[]", :value => activity.id) unless activity.invoiced? %></td>
        <% end %>
        <% if include_clients %>
          <td>
            <% if current_user.is_admin? %>
              <%= link_to(activity.project.client.name, url(:client, activity.project.client)) %>
            <% else %>
              <%= activity.project.client.name %>
            <% end %>
          </td>
        <% end %>
        <% if include_projects %>
          <td>
            <% if current_user.is_admin? %>
              <%= link_to(activity.project.name, url(:project, activity.project)) %>
            <% else %>
              <%= activity.project.name %>
            <% end %>
            </td>
        <% end %>
        <% if include_users %>
          <td>
            <%= activity.user.name %>
            <% if include_roles %>
              (<%= activity.user.role.name %>)
            <% end %>
          </td>
        <% end %>
        <td><%= activity.date %></td>
        <td class="right"><%= format_minutes(activity.minutes) %></td>
      </tr>
    <% end %>
    <tr class="odd">
      <td colspan="<%= 5 - [!@uninvoiced_activities.empty?, include_clients, include_projects, include_users].reject { |b| b }.size %>"></td>
      <td class="summary right">Sum: <%= format_minutes(@activities.inject(0) { |s,a| s += a.minutes; s }) %></td>
    </tr>
  </table>
  <%= link_to "Export this list to CSV", url(:activities) + ".csv?" + params.reject { |k,v| k =~ /^(id|action|controller|format)$/}.to_params %>
  
  <% unless @uninvoiced_activities.empty? %>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <p>
      <%= form_for @invoice, :action => url(:invoices) do %>
        <fieldset>
          <p>
            Add selected activities to
          </p>
          <p>
            <%= text_field :name, :label => "new invoice" %>
          </p>
          <p>
            <%= select :client_id, :label => "for client", :collection => @clients.map { |c| [c.id, c.name] }, :prompt => "Select a client..." %>
          </p>
          <p class="buttons">
            <%= submit "Add", :class => "button" %>
          </p>
        </fieldset>
      <% end =%>
    </p>
    <br/>
    <br/>
    <br/>
    <p>
      <%= form :action => "/invoices/update" do %>
        <fieldset>
          <p>
            Add selected activities to
          </p>
          <p>
            <%= select :name => "id", :label => "invoice", :collection => @invoices.map { |i| [i.id, i.name] }, :prompt => "Select an invoice..." %>
          </p>
          <p class="buttons">
            <%= submit "Add", :class => "button" %>
          </p>
        </fieldset>
      <% end =%>
    </p>
  <% end %>
<% end %>