<%= error_messages_for(@activity) %>

<%= form_for @activity, :action => resource(:activities), :id => "add_activity_form" do %>
  <fieldset>
    <legend>New activity</legend>
    <% if current_user.is_admin? %>
      <p>
        <%= select :user_id, :label => "User", :collection =>  @users.map { |u| [u.id, u.name] } %>
      </p>
    <% end %>
    <p>
      <%= text_field :date, :label => "Date", :class => 'datepicker', :value => format_date(@activity.date) %>
    </p>
    <p>
      <%= select :project_id, :label => "Project", :collection => { 
        "Recent projects" => @recent_projects.map { |p| [p.id, p.name] }, 
        "Other projects" => @other_projects.map { |p| [p.id, p.name] } } %>
    </p>
    <p>
      <%= text_field :hours, :label => "Time spent" %>
      <span class="description">ie: 7:30 or 7.5 for seven hours and thirty minutes</span>
    </p>
    <p>
      <%= text_area :comments, :label => "Comments" %>
    </p>
    <p class="buttons">
      <%= submit "OK", :class => "button" %> or <%= link_to "Cancel", "#", :id => "cancel_add_activity" %>
    </p>
  </fieldset>
<% end =%> 
