<h1>New activity</h1>

<%= error_messages_for(@activity) %>

<%= form_for @activity do %>
  Date:<br/>
  <%= text_field :date, :class => 'datepicker' %><br/>
  Project:<br/>
  <%= select :project_id, :collection => @projects.map { |p| [p.id, p.name] } %><br/>
  Time spent:<br/>
  <%= text_field :minutes %><br/>
  Comments:<br/>
  <%= text_area :comments %><br/>
  <br/>
  <%= submit "Add" %>
<% end =%> 

